div
  .center
    h1 Schedule Meeting
  form.form-horizontal(role="form" enctype="multipart/form-data" ng-submit='create()')
    .form-group
      label.col-lg-2.control-label(for="inputDesc") Subject:
      .col-lg-4
        textarea.form-control.medInput#inputDesc(placeholder='Enter Subject' ng-model='Meeting.subject' cols="10" rows="5")
    .form-group
      label.col-sm-2.control-label(for="inputDate") Start Date:
      .col-sm-4
        input.form-control.inputBox(type="date" ng-model='Meeting.startDate')
    .form-group
      label.col-sm-2.control-label(for="inputTime") Start Time:
      .col-sm-4
        input.form-control.inputBox(type="time" ng-model='Meeting.startTime')
    .form-group
      label.col-sm-2.control-label(for="inputDuration") Duration (in Minutes):
      .col-sm-3
        input.form-control.inputBox(type="Number" ng-model='Meeting.duration')
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type="submit" value='Add') Add Meeting
