div(ui-view="homeView")
  div(growl)
  h1 {{userData}}
  .container
    ul.nav.nav-tabs
        li.active(role="presentation")
           a(ui-sref='home.create') Schedule Meeting
        li(role="presentation")
           a(ui-sref='home.list') List All Meeting
        li(role="presentation")
            //- a.dropdown-toggle(href='#', data-toggle='dropdown')
            | {{currentUser.name}}
            a(href='' ng-click='logout()') Logout
    div(ui-view="meetingView")
