table.table
  thead
    tr
      th Meeting ID
      th Start Date
      th Start Time
      th Duration
  tbody
    tr.info(ng-repeat="item in MeetingData")
      td {{item._id}}
      td {{item.startDate | date:'yyyy-MM-dd'}}
      td {{item.startTime | date:'h:mma'}}
      td {{item.duration}}
