@import 'nib'

body
  background: #fff;
  background-attachment: fixed;
a
h4
p.lead
strong
.fa-search
.fa-calendar
.dropdown-menu li a
  color: #b60101;
.right-cont .row table thead
  background: #b60101;
.right-cont .row table>thead>tr>th
  color:#fff;
  font-weight:500;
.table>thead>tr>th
.table>tbody>tr>td
  padding: 3px;
  line-height: 1.428571;
.arch-list
  margin: 0 0 0px 10px
  padding-top: 7px;
  color: #b60000;
  font-weight: 400;
  font-size: 10pt;
h1
  font-size: 15pt;
  margin: 10px 0px;
  padding: 0px 0px 3px 0px;
  font-weight: 600;
  border-bottom: 1px solid #c6c6c6;
.content-heading h4
  margin: 0px;
  padding: 0px;
  line-height: normal;
  list-style: none;
  font-size: 11pt;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #b60101;
  line-height: normal;
p
  color: #555;
  font-size: 9pt;
.navbar-nav:last-child
  margin-right: -25px;
.btn-group-vertical>ul
  padding: 23px 0 0 30px;
.head-logo img
  width: 967px;
.lead
  font-size: 18px;
  margin-bottom: 0;
.container
  border: 1px solid #e9e9e9;
  background : #f6f6f6
.content
	margin: -10px 0px -15px -15px;
  // border: 1px solid #e9e9e9;
  background: #f6f6f6;
.navbar-default
  box-shadow: none;
  height: 35px;
.nav-user
  margin-top: 16px;
  color: #999;
  margin-right: 10px;
.nav li
  position: relative;
  display: inline-flex;
.top
  height: 45px;
  padding-left: 10px;
  padding-top: 7px;
  background: url('../../../img/box_header_bg_01.png');
  color: #b60000;
  font-style: italic;
  font-weight: bold;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
.top-head
  height: 45px;
  padding-left: 10px;
  padding-top: 7px;
  color: #b60000;
  // font-style: italic;
  font-weight: bold;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
.content-heading
  padding-left: 10px;
  padding-top: 7px;
  color: #b60000;
  /* font-style: italic; */
  font-weight: bold;
  // text-decoration: underline;
  font-size: 9pt;
.col-width
	min-height: 170px;
	height: 150px;
	border: 2px solid rgba(233, 233, 233, 1);
	border-radius: 5px;
	background-color: #fff;
  margin-bottom: 5px;
  overflow: hidden;
.col-md-7
  margin-left: -4%;
.col-md-6
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 5px;
.col-md-3
  padding-left :0;
.col-md-2
  width: 20%;
.col-md-10
  width: 83.33333333%;
  min-height: 500px;
// .col-md-12
//   padding-top: 8px;
.col-width p
	background-color: #fff;
	height: 120px;
	border-radius : 0;
  padding-left: 5px;
  padding-right: 5px;
.row-width
	min-width: 100px;
  margin-right: 0px;
  margin-left: -10px;
.row-home-content
  min-width: 100px;
  margin-right: -36px;
  margin-left: -20px;
.row-height
	min-height: 150px;
	height: 150px;
.row-detail
  min-height: 750px;
.link
	float: right;
  // text-decoration: underline;
  margin-right: 5px;
.sd-bar
  list-style: none;
  padding: 7px;
  padding-right: 10px;
  border: 1px solid;
  border-color: #e9e9e9;
  margin-left: -30px;
  background-color: #f6f6f6;
.sd-bar a
  width: 100%;
  display: inline-block;
  color: #b60101;
  font-weight: 300;
  font-style: italic;
.caret
  float: right;
  margin-top: 6px;
.sd-bar label
  display: inline-block;
  max-width: 100%;
  /* margin-bottom: 5px; */
  font-weight: 700;
  width: 100%;
.sd-search
  display: inline-flex;
.sd-search input
  width: 180px;
.sd-search button
  width: inherit;
  background-color: #e7e7e7;
.form-control
  border-radius: 0px
.daterangepicker
  top: 180px;
  left: 115px;
  right: auto;
  display: block;
.btn-width
  width:  200px;
.daterangepicker.dropdown-menu
  display:none;
ul.dropdown-menu
  width: 250px;
// .input-group.fa-calendar
//   margin-top: 10px;
.input-group.fa-calendar span
  margin-left: 20px;
  font-weight: 300;
  font-style: italic;
.input-group.fa-calendar input
  margin-top: 10px;
  border-radius: 5px;
.dropdown-toggle .caret
  float: right;
.nav-bar
  float: right;
  list-style: none;
.navbar-nav li input
  margin-top : 2px;
  background: #f8f8f8;
  width: 180px;
  padding: 3px 0px 3px 1px;
  font-size: 9pt;
  margin: 1px;
  color: #595959;
  border: 1px solid #c9c9c9;
.nav-bar .navbar-nav li
  margin-right: 5px;
.subscriber .nav-bar .navbar-nav
  // margin-top: 20px;
  color: #b60101;
.navbar-default .navbar-brand
  color: #999;
.navbar-default .navbar-nav>li>a
  color: #333;
.navbar-brand
  float: left;
  padding: 0 0 0 5px;
  margin-left: 0;
  color: #fff;
  background: #b60101;
  font-weight: 500;
  font-size: 11pt;
  width: 236px;
  height: 24px;
  border: 1px solid #e7e7e7;
.navbar-collapse
  padding-right: 15px;
  padding-left: 0;
.form-control
  border-color: #e9e9e9;
  font-size: 12px;
.container
  width: 1000px;
// .navbar-brand
//   padding-left: 0px;
.pagination>li>a
.pagination>li>span
  color: #b60101;
.content-mrgn
  margin: 0 0 7px 10px;
.content-mrgn strong
  color: #333;
  font-size: 8.5pt;
.content-desc
  margin-left: 10px;
  font-size: 9pt;
  padding-bottom: 10px;
  color : #595959;
.content-desc *
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 10pt !important;
  color: #333;
.text-Search
  margin-left: 50px;
  color: #b60000;
.content-detail-mrgn
  margin-left: 10px;
  height: 40px;
  font-weight: bold;
.content-save
  margin-top : 40px;
  margin-left : 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 10pt;
  font-weight: 500;
input[type=checkbox]
  margin-right: 10px;
.btn-group-vertical
  position: relative;
  display: inline;
  vertical-align: middle;
table
  border: 1px solid #e7e7e7;
  margin-left: 5px;
.fixed
  position: absolute;
  width: 237px;
  /* overflow: auto; */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0;
  bottom: 0;
  top: 0;
.relative
  position: relative;
  margin-left: 236px;
  margin-right: 220px;
  width: 55%;
  min-height: 550px;
  padding-left: 0;
.relative-list
  // margin-top: 25px;
  width: 552px;
  border: 1px solid #e7e7e7;
.archive-relative-list
  margin-top: 25px;
  // width: 552px;
  border: 1px solid #e7e7e7;
.right-cont
  position: absolute;
  margin-left: 782px;
.right-cont div table
  width: 183px;
li small
  // text-decoration: underline;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555
  // font-size: 1px;
small
  font-size: 12px;
  color: #333;
  // font-weight: bold;
.relative hr
  margin-top:5px;
  margin-bottom:0;
.paginate
  text-align: center;
.listContent
  min-height: 460px;
  line-height: 14px;
  margin-left: 10px;
.cont
  padding-right: 8px;
.cont>ul
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 14px;
  margin-left: -10px;
.login
  position: relative;
  display: block;
  right: 55px;
  top: 2px;
  /* color: #555; */
  margin-top: 25px;
  height: 20px;
  color: #b60101;
  font-size: 9pt;
  font-weight: bold;
.link a small
  color: #b60000;
.subscriber
  margin-right: 9.6%;
  position: absolute;
  /* top: 10px; */
  right: 0;
  width: 239px;
  z-index: 1;
.homeView
  display: inline-block;
  position: relative;
.headSubscribe
  font-weight: bold;
.clearAll
  background: #e7e7e7;
#about
  width: 968px;
  height: 550px;
  margin-top: 25px;
  margin-bottom: 10px;
.about-title
  color: #333;
#about .row
  margin-left: 0;
.about-head
  color: #b60101;
.postal-head
  margin-top: 20px;
  margin-bottom: 10px;
.subscribe-table
  border : 0;
.subscribe-table tbody tr td
  padding-right: 20px;
.about-content
  margin-top: 10px;
.right-cont-title a
  font-size: 10pt;
.loggedIn-user
  margin-right: 50px !important;
  font-weight: bold;
  margin-top: 85px;
.loggedIn-user a
  padding-top: 0px !important;
  padding-bottom: 0px !important;
.banner
  margin-left: 7px;
.right-cont .row
  margin-bottom: 1px;
.subscription-head
  color: #b60101;
.more-algn a
  margin-left: 120px;
  // float: right;
.free-access
  color: #b60000 !important;
.page-width
  min-height: 700px;
.price-Table td, .price-Table tr
  border: 1px solid black;
  padding: 5px;
.price-Table
  border: 1px solid black;
  border-spacing: 2px;
  margin-left: 300px;
  border-collapse: separate;
.login-margin
  margin-left: 300px;
.archive-listContent
  min-height: 300px;
  line-height: 14px;
  margin-left: 100px;
