table.table
  thead
    tr
      th Email
      th Name
      th Creation Date
      //- th Edit
      //- th Delete
  tbody
    tr.info(ng-repeat="user in users.response")
      td {{user.email}}
      td {{user.name}}
      td {{user.createdAt}}
      //- td
      //-   a(href="" ng-click="getItem(user._id)") Edit
      //- td
      //-   a
      //-     i.fa.fa-trash(ng-click='deleteUser(user._id,$index)')
//- pagination.pagination-sm(total-items="bigTotalItems" ng-model="searchFilter.page" max-size="searchFilter.perPage")
